
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-10">
          <h1 class="display-2 text-white">Hello {{userData.name.formatted}} ({{userData['urn:ietf:params:scim:schemas:extension:ibm:2.0:User']['customAttributes'][0]['values'][0]}})</h1>
          <p class="text-white mt-0 mb-5">This is your dashboard page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row" style="margin-top: -200px;">
    <div class="col-md-8 col-sm-6">
        <div class="card auth">
            <div class="card-body auth-card">
                <h4> Projects List </h4>
                <table class="my-table">
                    <thead class="my-table headers">
                      <tr>
                        <th *ngFor="let column of header">{{column.config}}</th>
                      </tr>
                    </thead>
                    <tbody class="my-table body">
                      <tr my-active *ngFor="let row of statsData; index as rowIndex">
                        <!-- <td>{{row['_id']}}</td> -->
                        <td>{{row['projectId']}}</td>
                        <td>{{row['projectName']}}</td>
                        <td>{{row['projectDescription']}}</td>
                        <td>{{row['projectOwner']}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

